form {
    max-width: 600px;
    margin: 0 auto;
}


form div input:hover{
    background-color: lightgray;
    border: 0.5px solid black;
}
form div:last-child{

    display: flex;
    justify-content: center;
}

form div:last-child input{

    width: 50%;
}